<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>List of parkings</title>
</head>
<body>
	<div th:switch="${parkings}">
		<h2 th:case="null">No parkings available !</h2>
		<div th:case="*">
			<h2>List of parkings</h2>
			<table>
				<thead>
					<tr>
						<th>Address</th>
						<th>Number of places</th>
						<th>Rate/hour (€)</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="parking : ${parkings}">
						<td th:text="${parking.address}"></td>
						<td th:text="${parking.places}"></td>
						<td th:utext="${parking.rateByHour}"></td>
						<td><a th:href="@{/parking/edit/{id}(id=${parking.id})}">Edit</a></td>
						<td><a
							th:href="@{/parking/delete/{id}(id=${parking.id})}">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<p>
			<a href="/parking/create">Add new parking</a>
		</p>
	</div>
</body>
</html>