<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<title>Arrival</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>

<div class="container">
  <div class="row">
    <div class="col-4 offset-4">
    	<h2>Generate parking ticket</h2>
      	<form th:action="@{/ticket/add}" th:object="${ticket}" method="post">
    	<div th:if="${#fields.hasGlobalErrors()}">
		  <p class="text-danger" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
		</div>
		    <label for="carSelect">Choose car :</label>
		    <select class="form-select" id="carSelect" th:field="*{car}">
			    <option th:each="c : ${cars}" th:value="${c.id}" th:text="${c.licence}"></option>
			</select>
			<a class="mt-1 btn btn-sm btn-success" href="/car/create">Add new car</a>
			<br>
		    <label for="parkingSelect">Choose parking :</label>
		    <select class="form-select" id="parkingSelect" th:field="*{parking}">
			    <option th:each="p : ${parkings}" th:value="${p.id}" th:text="${p.address}"></option>
			</select>
		    <br>
		    <span class="text-danger" th:text="${nbPlacesError}"></span>
		    <input class="mt-1 btn btn-sm btn-primary" type="submit" value="Generate ticket">   
		</form>
		<a class="btn btn-sm btn-secondary mt-3" href="/homepage">Back to home</a>
    </div>
  </div>
</div>

</body>
</html>